# python
*.pyc
**/__pycache__/
.pytest_cache/*
.pydevproject
build/

# IDE
.vscode/*

# Pip
*.egg-info

# files
*.log
*.pkl
*.jpg
*.pcd

weights
.cursor
ckpts
outputs
# pixi environments
.pixi
*.egg-info
